<!doctype html>
<html>
<head>
    <title>Student In-Take</title>
</head>
<body>
    <form action="/student-add" method="POST">
        <label>Enter Your First Name
            <input type="text" name="first"><br>
        </label>
        <label>Enter Your Last Name
            <input type="text" name="last"><br>
        </label>
        <label>Enter Your GitHub username
            <input type="text" name="github"><br><br>
        </label>
        <label>
            <input type="submit" value="display student">
        </label>
    </form>
</body>
</html>